### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings

### IntelliJ IDEA ###
!.idea
.idea/*
!.idea/copyright/

*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Other ###
bin/
.factorypath
*.log
logs
log
.vscode
.DS_Store
cms-db-schema/liquibase.properties
**/META-INF
**/main/java/META-INF
*.class